<div>
    <table class="table table-hover cust-table">
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Device Type</th>
                <th>OS Platform</th>
                <th>OS Version</th>
                <th>Device Status</th>
                <th>Device Reservation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{device.name}}</td>
                <td>{{device.type}}</td>
                <td>{{device.platform}}</td>
                <td>{{device.version}}</td>
                <td>{{device.availability}}</td>
                <td>
                    <label class="switch" (change)="openPopup(device)">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-success" (click)="openPopup(browser)">
                        Get Capabilities
                    </button> -->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container cust-popup" *ngIf="show">
        <div id="closeablecard" class="card card-hover-shadow mt-4">
            <div class="card-header bg-transparent border-bottom-0">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body mt-n5">
                <h5 class="card-title">Digital Lab Alert!</h5>
                <p class="card-text">
                    <b>{{tempComment}}</b><br/>
                    <b><i>{{tempMessage}}</i></b><br/>
                    {{tempName}}<br/>
                    {{tempPlatform}}<br/>
                    {{tempUdid}}<br/>
                    {{tempVersion}}<br/>
                </p>
            </div>
        </div>
    </div>

</div>