.cust-create-run{
    height: 300px;
    width: 1000px;
    margin-top: 50px;
}
.cust-submit{
    margin-left: 100px;
    width: 100px;
}
.cust-alert{
    width: 905px;
}
.cust-time{
    margin-left: 100px;
}
.cust-date{
    margin-left: 30px;
}